@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
}

.location {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
button {
  background-color: teal !important;
}

.Carousel-div {
  margin: 10px 25px;
}
.navbar-nav {
  margin-left: auto;
}
/* .navbar{
    margin-bottom: 100px;
} */

.navbar-brand img {
  height: 70px;
  /* background-color: #fff; */
}

.nav-link {
  color: white !important;
  font-weight: 600;
  font-size: 1.2rem;
}

.carousel {
  height: 70vh;
  margin: 1% 2%;
}

.carousel-item img {
  height: 70vh;
}

.location {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3%;
}

.input-group button {
  height: 35px;
  margin-left: 2%;
}

.search-bar-service {
  margin: auto;
}

.category-container {
  display: grid;
  justify-content: space-around;
  grid-gap: 20px;
  grid-template-columns: repeat(4, auto);
  margin: 2% 10%;
}

.service-other-container {
  margin: 3.5% 5%;
}
.service-inner-container {
  display: flex;
  justify-content: space-between;
}

.input-box {
  display: flex;
  flex-direction: column;
}
.card-round {
  border-radius: 10px !important;
  border: 1px solid grey;
  transition: 0.5s all;
  padding: 10px;
}

.card-round:hover {
  transform: scale(1.1, 1.1);
  transition: 0.5s all;
  cursor: pointer;
}

.dataCardcontainer {
  margin-top: 10px;
  transition: 0.5s all;
}

.card:hover {
  transform: scale(1.1, 1.1);
  transition: 0.5s all;
  cursor: pointer;
}

.infoCard {
  position: relative;
  height: 200px;
  margin: 50px 0;
  display: flex;
  align-items: center;
  background-color: rgb(231, 231, 231);
  opacity: 0.9;
}

.infoCard p {
  font-style: italic;
}

.cardLeft {
  padding: 0 10%;
  width: 75%;
}

.invertedcardLeft {
  width: 25%;
  margin-left: 2%;
  /* max-width: 100%; */
  /* max-height: 100%; */
}

.invertedcardLeft img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.cardRight {
  width: 25%;
  margin-right: 2%;
}

.cardRight img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.invertedcardRight {
  padding: 0 10%;
  width: 75%;
}

.render-container {
  display: grid;
  max-width: 100vw;
  grid-template-columns: repeat(3, auto);
  grid-gap: 50px;
  grid-row-gap: 20px;
  margin-top: 10px;
}

.category-containerinner {
  display: grid;
  justify-content: space-around;
  grid-gap: 50px;
  grid-row-gap: 20px;
  grid-template-columns: repeat(3, auto);
  margin: 2% 10%;
}

.header-service {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-body {
  padding: 5px;
}

.locationsearch {
  display: flex;
}

.service-container {
  height: 100%;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}
.about-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  margin: 9% 5%;
}
.s-container,
.p-container {
  padding: 1%;
  width: 30%;
  background-color: #f1f1f1;
  border-radius: 5%;
}
.connection {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media screen and (max-width: 1000px) {
  .category-containerinner {
    grid-template-columns: repeat(2, auto);
    margin: 2% 10%;
  }
  .render-container {
    grid-template-columns: repeat(2, auto);
  }
  .category-container {
    grid-template-columns: repeat(3, auto);
  }
  .navbar-nav {
    text-align: right;
  }
}

@media screen and (max-width: 650px) {
  .category-containerinner {
    grid-template-columns: repeat(1, auto);
    margin: 2% 10%;
  }
  .category-container {
    grid-template-columns: repeat(2, auto);
  }
  .render-container {
    grid-template-columns: repeat(1, auto);
  }
}

@media screen and (max-width: 784px) {
  .service-inner-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 443px) {
  .category-container {
    grid-template-columns: repeat(1, auto);
  }
}

@media screen and (max-width: 800px) {
  .carousel {
    height: 50vh;
  }

  .carousel-item img {
    height: 50vh;
  }

  .carousel-item h2 {
    font-size: small;
  }
  .carousel-item p {
    font-size: smaller;
  }
}

@media screen and (max-width: 580px) {
  .carousel {
    height: 20vh;
  }

  .carousel-item img {
    height: 20vh;
  }

  .carousel-item h2 {
    font-size: small;
  }
  .carousel-item p {
    font-size: smaller;
  }
}
